
@import "./tools/FileExplorer";
@import "./tools/Terminal";
@import "./tools/TextEditor";
@import "./tools/Settings";

.component-dashboard {
    display:flex;
    height: 100vh;

    > .tool-icons {
        flex-grow:0;
        flex-shrink:0;
        background: #abcddd;
        user-select: none;
        -webkit-user-select: none;
        -webkit-tap-highlight-color: transparent;

        > .icon {
            padding: 10px 20px;
            
            &::after {
                content: '';
                display:block;
                width:80px;
                height:80px;
                border-radius: 22.77%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 60%;
            }

            @media(max-width: 600px) {
                padding: 5px 10px;

                &::after {
                    width: 40px;
                    height: 40px;
                }
            }

            &:active::after {
                transform: scale(0.9);
            }
            
            &.selected {
                background: rgb(0, 122, 255);
                transition: background-color 0.1s ease-out 0.1s;
            }
            
            &.file-explorer::after {
                background-image: url("/icons/folder.svg");
                background-color: rgb(52, 170, 220);
            }
            
            &.terminal::after {
                background-image: url("/icons/terminal.svg");
                background-color: rgb(76, 217, 100);
            }
            
            &.text-editor::after {
                background-image: url("/icons/notepad.svg");
                background-color: rgb(255, 45, 85);
            }

            &.settings::after {
                background-image: url("/icons/cog.svg");
                background-color: #ccccd7;
            }
  
        }
    }

    > .current-tool {
        background: #c1d4dd;
        flex-grow: 1;
        position: relative;

        > * {
            position: absolute;
            height: 100%;
            width: 100%;
            transition: all 0.1s ease-out 0.1s;
                
            &:not(.selected) {
                opacity:0;
                transform: scale(0.9);
                transition: all 0.1s ease-out;
                pointer-events: none;
                user-select: none;
                -webkit-user-select: none;
            }
        }
    }
}

  
