
@import "./components/Modal";

@import "./Dashboard";

body {
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    overscroll-behavior-y: none;
}
*:not(.monaco-editor *), *:not(.monaco-editor *)::after, *:not(.monaco-editor *)::before {
    box-sizing: border-box;
    transition: all 0.1s ease-out;
}