
.component-button {
    border: none;
    -webkit-appearance: none;
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
    color: #007aff;
    cursor: pointer;
    padding: 10px;
}