
.component-input {
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;

    font-size: inherit;
    font-family: inherit;
    padding:0;
}